@use 'src/styles/variables.module' as variables;

.app {
  background: variables.$primary-light;
  display: flex;
  flex-direction: column;
  font-family: 's', sans-serif;
  height: 100%;
  overflow: hidden;
}
