@use '~sass-mq' as *;
@use 'src/styles/variables.module' as variables;

.container {
  background: variables.$white;
  border-radius: 4px;
  box-shadow: 0 0 12px rgb(0 0 0 / 4%), 0 12px 12px rgb(0 0 0 / 4%);
  min-width: 40%;
  overflow: auto;
  padding: 30px;
  position: absolute !important;
  z-index: 5;

  @include mq($until: 1024px) {
    left: variables.$header-horizontal-desktop-margin;
    max-height: calc(100vh - 2 * #{variables.$header-vertical-margin} - #{variables.$header-height-mobile} - 60px);
    max-width: calc(100% - 2 * #{variables.$header-horizontal-mobile-margin});
    right: variables.$header-horizontal-desktop-margin;
    top: calc(#{variables.$header-height-mobile} + 2 * #{variables.$header-vertical-margin});
  }

  @include mq($from: 1025px) {
    left: variables.$header-horizontal-desktop-margin;
    max-height: calc(90vh - 2 * #{variables.$header-vertical-margin} - #{variables.$header-height-mobile} - 60px);
    max-width: calc(100% - 2 * #{variables.$header-horizontal-desktop-margin});
    top: calc(#{variables.$header-height} + 2 * #{variables.$header-vertical-margin});
  }
}

.title {
  margin-top: 0;
}

.close-icon {
  position: absolute;
  right: 7px;
  top: 7px;
}

.place-info {
  display: flex;
  justify-content: space-between;

  @include mq($until: 1024px) {
    flex-direction: column;
  }
}

.pic {
  background: no-repeat center center;
  background-size: cover;
  border-radius: 4px;
  height: 92px;
  width: 92px;
}

.button-group {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  @include mq($until: 1024px) {
    margin-bottom: 10px;
  }
}

.events-list > ul {
  padding-inline-start: 15px;
}
