$header-height: 80px;
$header-height-mobile: 56px;
$header-vertical-margin: 10px;
$header-horizontal-desktop-margin: 16px;
$header-horizontal-mobile-margin: calc(#{$header-horizontal-desktop-margin} / 2);
$white: #fff;
$black: #262626;
$dark-grey: #635e5c; // icons
$overlay: rgba(38, 38, 38, 0.4); // overlay
$border-with-opacity: rgba(38, 38, 38, 0.1);
$text: #898989;
$semi-light-text: #999;
$light-text: #b2b2b2;
$divider: #ededed;
$substrate-on-white: #f6f6f6;
$substrate-on-color: #26262608;
$secondary: #336af7;
$secondary-dark: #285de8; // hovered button
$secondary-darken: #1a4ac6; // pressed button
$secondary-light: #dae5f1;
$primary: #e22c38;
$primary-dark: darken($primary, 3%); // hovered button
$primary-darken: darken($primary, 7%); // pressed button
$primary-light: #f7ebe6;


