@use 'src/styles/variables.module' as variables;

.container {
  display: flex;
  flex-direction: column;
}

.route {
  cursor: pointer;
  padding: 15px 20px;

  &-active {
    background: variables.$border-with-opacity;
    font-weight: bold;
  }
}

.button-container {
  column-gap: 15px;
  display: flex;
  margin-top: 15px;
}
