@use 'src/styles/variables.module' as variables;

.container {
  display: flex;
  flex-direction: column;
}

.route {
  column-gap: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  row-gap: 5px;

  &:hover {
    background: lighten(variables.$border-with-opacity, 60);
  }

  &-active {
    background: variables.$border-with-opacity !important;
  }

  &-title {
    font-size: 20px;
    font-weight: bold;
  }

  &-info {
    font-size: 16px;

    &-icon {
      margin-right: 5px;
    }

    &-container {
      align-items: flex-end;
      column-gap: 15px;
      display: flex;
      flex-wrap: nowrap;
    }
  }
}

.button-container {
  column-gap: 15px;
  display: flex;
  margin-top: 15px;
}
